{% extends 'splitWise/base.html' %}

{% block content %}
<div class="bg">
<div class="group-heading">
<h1><strong>{{ group.getName }}</strong></h1>
</div>
<div class="group-info">
<ul>
    
        <ul>
            {% for member in group.getMembers %}
            
            <li>{{ member.getFirstName }} {{ member.getLastName }}</li>
              <ul>
              {% for balance in member.getBalances %}
              <li><p>{{balance.getAmount}}</p></li>
              
              {% endfor %}
              </ul>
            {% endfor %}
        </ul>
    </li>
</ul>

<a href="{% url 'add_expense' group_id=group.id %}">
    <button type="button" class="btn yellow-button">Spin the Wheel</button>
</a>
<a href="{% url 'add_expense_normal' group_id=group.id %}">
    <button type="button" class="btn yellow-button">Add Expense</button>
</a>
</div>
</div>


 {% comment %} <div class="directions">
    Click to spin the wheel to see what prize you won!
</div>
<div class="spin-the-wheel">
<label>
  <input type="radio">
  <div class="clicker"></div>
<div class="wheel">
<div class="option o1">
  
</div>
<div class="option o2">
  
</div>
<div class="option o3">
 
</div>
<div class="option o4">
  
</div>
</div>
  
  <div class="message">
    You won a new clipper card! <br>
    Click to claim your prize.
  </div>
</label>
</div>   {% endcomment %}

  
{% endblock %}