{% extends 'splitWise/base.html' %}
{%block content%}
    {% comment %} <div>
        {% load static %}<img src="{% static "splitWise/logo1.png" %}" alt="home" />
    </div>  {% endcomment %}
     <div class="image-container">
        {% load static %} <img src="{% static 'splitWise/logo1.png' %}" alt="Image 1">
        {% load static %} <img src="{% static 'splitWise/famcardImage.png' %}" alt="Image 2">
      </div> 
    <div class="container">
    
    <h1>Welcome to Fampay</h1>
    
    <p>Click the button below to authenticate with Splitwise:</p>
    <button type="button" class="btn yellow-button" onclick="window.location.href='/splitwise/auth/'">Splitwise</button>
   
</div>
{% endblock%}