<!DOCTYPE html>
<html>
  <head>
    <title>My Splitwise App</title>
  </head>
  <body>
    <h1>Welcome to My Splitwise App</h1>
    <p>Click the button below to authenticate with Splitwise:</p>
    <button onclick="window.location.href='/splitwise/auth/'">Splitwise</button>
  </body>
</html>


<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My Splitwise App</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1>Welcome to My Splitwise App</h1>
    <p>Click the button below to authenticate with Splitwise:</p>
    <button style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">window.location.href='/splitwise/auth/'</button>
   <section class="Splitwise">
      <img src="splitwise.png" alt="Splitwise Image">
<body>
</html>

body {
  margin: 0;
  padding: 0;
}

.Splitwise {
  text-align: center;
}

.Splitwise img {
  max-width: 100%;
  height: auto;
}
 -->